<a href="https://colab.research.google.com/github/neochen8806/AI_and_security_2020-new/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [2]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.683875  1.000387 -0.579546  1.272320
2013-01-02  0.062260  0.370904  0.700594  0.515669
2013-01-03  0.312836  0.594249  0.382838  1.060881
2013-01-04 -0.502837  0.330691 -0.556255 -0.607140
2013-01-05  1.191424  0.420076  0.674679 -0.993677
2013-01-06  1.355321  0.103965 -0.339073 -0.106701

In [19]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20201021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2020-10-21  1.0  3   test  foo
1  1.0 2020-10-21  1.0  3  train  foo
2  1.0 2020-10-21  1.0  3   test  foo
3  1.0 2020-10-21  1.0  3  train  foo

In [20]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06  1.355321  0.103965 -0.339073 -0.106701
2013-01-04 -0.502837  0.330691 -0.556255 -0.607140
2013-01-02  0.062260  0.370904  0.700594  0.515669
2013-01-05  1.191424  0.420076  0.674679 -0.993677
2013-01-03  0.312836  0.594249  0.382838  1.060881
2013-01-01 -1.683875  1.000387 -0.579546  1.272320

In [21]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C         D    E
2013-01-01 -1.683875  1.000387 -0.579546  1.272320  1.0
2013-01-02  0.062260  0.370904  0.700594  0.515669  1.0
2013-01-03  0.312836  0.594249  0.382838  1.060881  NaN
2013-01-04 -0.502837  0.330691 -0.556255 -0.607140  NaN